#my-header {
	padding-top: 18px;
}

#listCalView ul {
	list-style: none;
}

.flipperBrowse {
	position:absolute; right:6px; top:6px;
}

.flipperOptions {
	position:absolute; right:6px; top:20px;
}

.flipperFirst {
	position:absolute; right:6px; top:16px;
}

.menu {
	position: absolute;
	top:20px;
}

.ui-table-columntoggle-btn{
	font-size: 12px;
}

#cal-table, th, td, #classes, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#cal-table th {
	background-color: #92b1cd;
}

#calclass {
	background-color: red;
	text-align: center;
	vertical-align: middle;
}

#conflict {
	background-color: green;
	text-align: center;
	vertical-align: middle;
}